<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="26c3cc73-c700-48c4-8bea-fd50a56e0809" Publisher="CN=danwk_000" Version="1.0.0.0" />
  <Properties>
    <DisplayName>BudgetHelper</DisplayName>
    <PublisherDisplayName>danwk_000</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BudgetHelper.App">
      <VisualElements DisplayName="BudgetHelper" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Budgeting" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" ShortName="Budget Helper" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>